allure-behave==2.7.0
allure-python-commons==2.7.0
attrs==19.1.0
behave==1.2.6
certifi==2019.6.16
chardet==3.0.4
idna==2.8
importlib-metadata==0.18
jpath==1.6
parse==1.12.0
parse-type==0.4.2
pluggy==0.12.0
requests==2.22.0
six==1.12.0
urllib3==1.25.8
zipp==0.5.2
